name: Build jackson-dataformat-xlsx-lite with Maven


on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    name: build and test
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5
      - name: setup java
        uses: actions/setup-java@b6e674f4b717d7b0ae3baee0fbe79f498905dfde
        with:
          java-version: '8'
          java-package: jdk
      - name: build and test
        id: thebuild
        run: ./mvnw clean install